{% extends 'servicios/inicio.html' %}

{% load static %}

 
{% block content %}





<!--Start Content-->
<div class="content">
   
   
    <!--Start Welcome-->
     <div class="welcome-three">
         <div class="container">
             
             <div class="row">
             <div class="col-md-12">
                 <div class="main-title">
                     <h2><span>Bienvenido a</span> Med Hist</h2>
                     <p>Somos una plataforma en la web con diferentes capacidades dentro de ellas la más importante generar y fortalecer una comunicación entre pacientes y personal de la salud éstos mismos con el objetivo de brindar una atención adecuada y personalizada según las diferentes necesidades de cada usuario, para informar, prevenir, diagnosticar y resolver problemáticas de la salud mediante el servicio de un equipo multidisciplinario de personas en el área de la salud que se mantienen en constante formación y actualización..</p>
                 </div>
             </div>
             </div>
             
             <div class="welcome-detail">
                 <div class="row">
                     
                    
                     <div class="col-md-7">
                         <div class="detail">
                             
                             <ul>
                                 <li><i class="icon-checkmark"></i><span>Analisis de datos.</span></li>
                                 <li><i class="icon-checkmark"></i><span>Alertas en caso de alteracioes.</span></li>
                                 <li><i class="icon-checkmark"></i><span>Apoyo en caso de ser necesario.</span></li>
                                 <li><i class="icon-checkmark"></i><span>Distribucion de los servicios de salud.</span></li>
                                
                             </ul>
                             
                         </div>
                     </div>
                     
                     
                      <div class="col-md-5">
                         <img src="{% static 'images/welcome-img.jpg'%}" alt="">
                     </div>
                     
                     
                     
                 </div>
             </div>
             
         </div>
     </div>
    <!--End Welcome-->
    
    <!--Start Doctor Quote-->
    <div class="dr-quote">
            <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <span class="quote">"Somos el enlace entre pacientes y personal de salud."</span>
                     <span class="name">- </span>
                 </div>
             </div>
         </div>
    </div>
    <!--End Doctor Quote-->
    
    
    <!--Start Team Detail-->
         <div class="member-detail">
             <div class="container">
             
                 <div class="row">
                 <div class="col-md-12">
                     <div class="main-title">
                         <h2><span>Conoce a nuestro equipo</span> Specialistas</h2>
                         <p> for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut volutpat eros  adipiscing nonummy.</p>
                     </div>
                 </div>
                 </div>
                 
                 <div id="demo">
                 <div class="row">
                 
                 <div class="span12">
                 <div id="team-detail" class="owl-carousel">
                 
                     <div class="post item">
                         
                         <div class="col-md-5">
                         
                             <div class="gallery-sec">		
                             <div class="image-hover img-layer-slide-left-right">
                             <img src="{% static 'images/oscar.png' %}" alt="">
                             <div class="layer">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
                                  </div>
                             </div>							
                             </div>
                         
                     </div>
                     
                     <div class="col-md-7">
                         <div class="team-detail">
                             
                             <div class="name">
                                 <h6>Oscar Alejandro Reyes Gòmez</h6>
                                 <span>Oaxaca Oaxaca</span>
                             </div>
                             
                                 <ul>
                                     <li><span class="title">Especialidad</span> <span>Urguencias</span></li>
                                     <li><span class="title">Grado</span> <span>M.D. de Medicina General</span></li>
                                     <li><span class="title">Experiencia</span> <span>2 años de Experiencia</li>
                                     <li><span class="title">Universidad</span> <span>Universidad Regional del Sureste.</span></li>
                                     <li><span class="title">Dias de trabajo</span> <span>Lunes a Viernes</span></li>
                                 </ul>
                             
                         </div>
                     </div>
                     </div>
                     
                     
                     <div class="post item">
                     <div class="col-md-5">
                             
                             <div class="gallery-sec">		
                             <div class="image-hover img-layer-slide-left-right">
                             <img src="{% static 'images/team-member-detail2.jpg' %}" alt="">
                             <div class="layer">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
                                  </div>
                             </div>							
                             </div>
                             
                     </div>
                     
                     <div class="col-md-7">
                         <div class="team-detail">
                             
                             <div class="name">
                                 <h6>Vanessa Galindo Quevedo</h6>
                                 <span>Oaxaca Oaxaca</span>
                             </div>
                             
                                 <ul>
                                    <li><span class="title">Especialidad</span> <span>Arquitectura</span></li>
                                    <li><span class="title">Grado</span> <span>Segundo grado</span></li>
                                    <li><span class="title">Experiencia</span> <span>2 años de Experiencia</li>
                                    <li><span class="title">Universidad</span> <span>Universidad Regional del Sureste.</span></li>
                                    <li><span class="title">Dias de trabajo</span> <span>Lunes a Viernes</span></li>
                                 </ul>
                             
                         </div>
                     </div>
                     </div>
                     
                     
                     <div class="post item">
                     <div class="col-md-5">
                         
                             <div class="gallery-sec">		
                             <div class="image-hover img-layer-slide-left-right">
                             <img src="{% static 'images/team-member-detail2.jpg' %}" alt="">
                             <div class="layer">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
                                  </div>
                             </div>							
                             </div>
                             
                     </div>
                     
                     <div class="col-md-7">
                         <div class="team-detail">
                             
                             <div class="name">
                                 <h6>Aranda Yeshiareni Sanjuan Cruz</h6>

                                 <span>Oaxaca Oaxaca </span>
                             </div>
                             
                                 <ul>
                                    <li><span class="title">Especialidad</span> <span>Arquitectura</span></li>
                                    <li><span class="title">Grado</span> <span>Segundo grado</span></li>
                                    <li><span class="title">Experiencia</span> <span>2 años de Experiencia</li>
                                    <li><span class="title">Universidad</span> <span>Universidad Regional del Sureste.</span></li>
                                    <li><span class="title">Dias de trabajo</span> <span>Lunes a Viernes</span></li>
                                 </ul>
                             
                         </div>
                     </div>
                     </div>
                     
                     
                 </div>
                 </div>
                 
                 </div>
                 </div>
             </div>
         </div>
    <!--End Team Detail-->
    
    
    <!--Start Pie Chart-->
    <section class="piechart-section dark-back" id="pie-charts">
             <div class="container">
                 
                 <div class="row">
                 <div class="col-md-12">
                     <div class="main-title">
                         <h2><span>Casos</span> Exitosos</h2>
                         <p>Datos Generales</p>
                     </div>
                 </div>
                 </div>
                 
                 <div class="text-center">
                 <span class="chart first" data-percent="95">
                     <span class="percent">95</span>
                 <span class="year">2017</span>
                 <canvas height="181" width="181"></canvas></span>
                 
                 <span class="chart" data-percent="85">
                     <span class="percent">85</span>
                     <span class="year">2018</span>
                 <canvas height="181" width="181"></canvas></span>
                 <span class="chart" data-percent="90">
                     <span class="percent">90</span>
                     <span class="year">2019</span>
                 <canvas height="181" width="181"></canvas></span>
                 <span class="chart" data-percent="75">
                     <span class="percent">75</span>
                     <span class="year">2020</span>
                 <canvas height="181" width="181"></canvas></span>
                 <span class="chart" data-percent="95">
                     <span class="percent">95</span>
                     <span class="year">2021</span>
                 <canvas height="181" width="181"></canvas></span>
                 </div>
                 
             </div>
         </section>
    <!--End Pie Chart-->
     
      
    </div>
    <!--End Content-->
    








{% endblock %}