{% extends 'servicios/inicio.html' %}

{% load static %}

 
{% block content %}

 <!--Start Content-->
 <div class="content">
   
   
    <!--Start Team Detail-->
         <div class="member-detail">
             <div class="container">
             
                 
                 <div class="row">
                 
                     
                     <div class="col-md-5">
                         <img src="{% static 'images/nurse.jpg' %}" alt="">
                     </div>
                     
                     <div class="col-md-7">
                         <div class="team-detail">
                             
                             <div class="name">
                                 <h6>Vanessa Lorem Lorem</h6>
                                 <span>LoremLoremLorem</span>
                             </div>
                             
                                 <ul>
                                     <li><span class="title">Especialidad</span> <span>Physiotherapist</span></li>
                                     <li><span class="title">Grado</span> <span>M.D. of Medicine</span></li>
                                     <li><span class="title">Experiencia</span> <span>8 years of Experience</span></li>
                                     <li><span class="title">Capacitacion</span> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
                                     <li><span class="title">Dias de trabajo</span> <span>Lunes, Jueves</span></li>
                                 </ul>
                             
                         </div>
                     </div>
                     
                 
                 </div>
                 
             </div>
         </div>
    <!--End Team Detail-->
    
    
    </div>
    <!--End Content-->
    


{% endblock %}