{% extends 'servicios/inicio.html' %}

{% load static %}

 
{% block content %}

<!--Start Content-->
<div class="content">
   
    <div class="gallery">
    <!--Start Team Detail-->
         <div class="cbp-panel" style="max-width:1170px;">
 
         <div id="filters-container" class="cbp-l-filters-list ">
             <div data-filter="*" class="cbp-filter-item-active cbp-filter-item cbp-l-filters-list-first">Todas las areas </div>
             <div data-filter=".technology" class="cbp-filter-item">Area 1</div>
             <div data-filter=".facilities" class="cbp-filter-item">Area 2</div>
             <div data-filter=".dental" class="cbp-filter-item">Area 3</div>
             <div data-filter=".kids" class="cbp-filter-item cbp-l-filters-list-last">Area 4</div>
         </div>
 
         <div id="grid-container" class="cbp main-gallery">
            
             
             
             <div class="cbp-item technology facilities motion">
                     
                 <a class="gallery-sec fancybox photo-icon" href="{%static 'images/gallery/img1.jpg' %}" data-fancybox-group="gallery">		
                     <div class="image-hover img-layer-slide-left-right">
                     <img src="{% static 'images/gallery/img2.jpg'%}" alt="">
                     <div class="layer"> <i class="icon-image2"></i> </div>
                     </div>
                     
                     <div class="detail">
                         <h6>foto ejemplo</h6>
                         <span>Cras porttitor mauris pulvinar Quisque in nulla</span>
                     </div>
                 </a>
 
             </div>
             
             
             
             <div class="cbp-item kids motion">
                     
                 <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">
                     <div class="image-hover img-layer-slide-left-right">
                     <img src="{% static 'images/gallery/img2.jpg'%}" alt="">
                     <div class="layer"> <i class="icon-video2"></i> </div>
                     </div>
                     
                     <div class="detail">
                         <h6>video ejemplo</h6>
                         <span>Cras porttitor mauris pulvinar Quisque in nulla</span>
                     </div>
                 </a>
 
             </div>
             
             
             
             <div class="cbp-item dental motion">
                     
                 <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">		
                     <div class="image-hover img-layer-slide-left-right">
                     <img src="{% static 'images/gallery/img3.jpg' %}" alt="">
                     <div class="layer"> <i class="icon-video2"></i> </div>
                     </div>
                     
                     <div class="detail">
                         <h6>video ejemplo </h6>
                         <span>Cras porttitor mauris pulvinar Quisque in nulla</span>
                     </div>
                 </a>
 
             </div>
             
             
             <div class="cbp-item dental motion">
                     
                 <a class="gallery-sec fancybox photo-icon" href="images/gallery/img4.jpg" data-fancybox-group="gallery" >		
                     <div class="image-hover img-layer-slide-left-right">
                     <img src="{% static 'images/gallery/img2.jpg'%}" alt="">
                     <div class="layer"> <i class="icon-image2"></i> </div>
                     </div>
                     
                     <div class="detail">
                         <h6>foto ejemplo</h6>
                         <span>Cras porttitor mauris pulvinar Quisque in nulla</span>
                     </div>
                 </a>
 
             </div>
             
             
             
             <div class="cbp-item technology facilities motion">
                     
                 <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">		
                     <div class="image-hover img-layer-slide-left-right">
                     <img src="{% static 'images/gallery/img2.jpg'%}" alt="">
                     <div class="layer"> <i class="icon-video2"></i> </div>
                     </div>
                     
                     <div class="detail">
                         <h6>video ejemplo</h6>
                         <span>Cras porttitor mauris pulvinar Quisque in nulla</span>
                     </div>
                 </a>
 
             </div>
             
             
             
             <div class="cbp-item facilities motion">
                     
                <a class="gallery-sec fancybox photo-icon" href="images/gallery/img6.jpg" data-fancybox-group="gallery">		
                     <div class="image-hover img-layer-slide-left-right">
                     <img src="{% static 'images/gallery/img2.jpg'%}" alt="">
                     <div class="layer"> <i class="icon-image2"></i> </div>
                     </div>
                     
                     <div class="detail">
                         <h6>foto ejemplo</h6>
                         <span>Cras porttitor mauris pulvinar Quisque in nulla</span>
                     </div>
                 </a>
 
             </div>
             
             
             
             <div class="cbp-item technology facilities motion">
                     
                 <a class="gallery-sec fancybox photo-icon" href="images/gallery/img7.jpg" data-fancybox-group="gallery" >		
                     <div class="image-hover img-layer-slide-left-right">
                     <img src="{% static 'images/gallery/img2.jpg'%}" alt="">
                     <div class="layer"> <i class="icon-image2"></i> </div>
                     </div>
                     
                     <div class="detail">
                         <h6>foto ejemplo</h6>
                         <span>Cras porttitor mauris pulvinar Quisque in nulla</span>
                     </div>
                 </a>
 
             </div>
             
             
             
             <div class="cbp-item facilities kids motion">
                     
                 <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">		
                     <div class="image-hover img-layer-slide-left-right">
                     <img src="{% static 'images/gallery/img2.jpg'%}" alt="">
                     <div class="layer"> <i class="icon-video2"></i> </div>
                     </div>
                     
                     <div class="detail">
                         <h6>video ejemplo</h6>
                         <span>Cras porttitor mauris pulvinar Quisque in nulla</span>
                     </div>
                 </a>
 
             </div>
         
             
             
         </div>
 
     </div>
    <!--End Team Detail-->
    
    </div>
    </div>
    <!--End Content-->


    
{% endblock %}