{% extends 'servicios/inicio.html' %}

{% load static %}

 
{% block content %}

 <!--Start Content-->
 <div class="content">
   
    <div class="all-team-members">
    <!--Start Team Detail-->
         <div class="cbp-panel" style="max-width:1170px;">
 
         <div id="filters-container" class="cbp-l-filters-list ">
             <div data-filter="*" class="cbp-filter-item-active cbp-filter-item cbp-l-filters-list-first">Todas las areas</div>
             <div data-filter=".health-care" class="cbp-filter-item">Nutricion</div>
             <div data-filter=".traumatology" class="cbp-filter-item">Urgencias</div>
             <div data-filter=".dental" class="cbp-filter-item">Medico Dental</div>
             <div data-filter=".gynaecological" class="cbp-filter-item cbp-l-filters-list-last">Ginecologia</div>
         </div>
 
         <div id="grid-container" class="cbp">
             <div class="cbp-item traumatology motion">
                 <div class="cbp-caption">
                     <div class="cbp-caption-defaultWrap">
                         <img src="{% static 'images/team-member1.jpg' %}" alt="">
                     </div>
                     <div class="cbp-caption-activeWrap">
                         <div class="cbp-l-caption-alignCenter">
                             <div class="cbp-l-caption-body">
                                 
                                 <div class="cbp-l-caption-text">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-new-message"></i></a>
                                 </div>
                                 
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <div class="detail">
                     <h6>Dr. Oscar Alejandro Reyes Gòmez</h6>
                     <span>Urgencias</span>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                     <a href="team-member-detail.html">- Ver Perfil</a>
                 </div>
                 
             </div>
             
             
             <div class="cbp-item gynaecological motion">
                 <div class="cbp-caption">
                     <div class="cbp-caption-defaultWrap">
                         <img src="{% static 'images/team-member1.jpg' %}" alt="">
                     </div>
                     <div class="cbp-caption-activeWrap">
                         <div class="cbp-l-caption-alignCenter">
                             <div class="cbp-l-caption-body">
                                 
                                 <div class="cbp-l-caption-text">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-new-message"></i></a>
                                 </div>
                                 
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <div class="detail">
                     <h6>Dr. Gabriel Quevedo Ramirez</h6>
                     <span>Ginecologia</span>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                     <a href="team-member-detail.html">- Ver Perfil</a>
                 </div>
                 
             </div>
             
             
             
             <div class="cbp-item health-care motion">
                 <div class="cbp-caption">
                     <div class="cbp-caption-defaultWrap">
                         <img src="{% static 'images/team-member1.jpg' %}" alt="">
                     </div>
                     <div class="cbp-caption-activeWrap">
                         <div class="cbp-l-caption-alignCenter">
                             <div class="cbp-l-caption-body">
                                 
                                 <div class="cbp-l-caption-text">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-new-message"></i></a>
                                 </div>
                                 
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <div class="detail">
                     <h6>Dr. Hannia Jaqueline Espinoza Tellez</h6>
                     <span>Nutricion</span>
                     <p>Lorem ipsum dolor sit amet, conse. Donec nec eros eget nisl fringilla commodo.</p>
                     <a href="team-member-detail.html">- Ver Perfil</a>
                 </div>
                 
             </div>
             
             
             
             <div class="cbp-item gynaecological motion">
                 <div class="cbp-caption">
                     <div class="cbp-caption-defaultWrap">
                         <img src="{% static 'images/team-member1.jpg' %}" alt="">
                     </div>
                     <div class="cbp-caption-activeWrap">
                         <div class="cbp-l-caption-alignCenter">
                             <div class="cbp-l-caption-body">
                                 
                                 <div class="cbp-l-caption-text">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-new-message"></i></a>
                                 </div>
                                 
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <div class="detail">
                     <h6>Osvaldo Quevedo Ramirez</h6>
                     <span>Ginecologia</span>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                     <a href="team-member-detail.html">- Ver Perfil</a>
                 </div>
                 
             </div>
             
             
             
             
             <div class="cbp-item health-care motion">
                 <div class="cbp-caption">
                     <div class="cbp-caption-defaultWrap">
                         <img src="{% static 'images/team-member1.jpg' %}" alt="">
                     </div>
                     <div class="cbp-caption-activeWrap">
                         <div class="cbp-l-caption-alignCenter">
                             <div class="cbp-l-caption-body">
                                 
                                 <div class="cbp-l-caption-text">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-new-message"></i></a>
                                 </div>
                                 
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <div class="detail">
                     <h6>Dr. Rubí Mérida Ortega</h6>
                     <span>Nutricion</span>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                     <a href="team-member-detail.html">- Ver Perfil</a>
                 </div>
                 
             </div>
             
             
             
             
             <div class="cbp-item traumatology motion">
                 <div class="cbp-caption">
                     <div class="cbp-caption-defaultWrap">
                         <img src="{% static 'images/team-member1.jpg' %}" alt="">
                     </div>
                     <div class="cbp-caption-activeWrap">
                         <div class="cbp-l-caption-alignCenter">
                             <div class="cbp-l-caption-body">
                                 
                                 <div class="cbp-l-caption-text">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-new-message"></i></a>
                                 </div>
                                 
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <div class="detail">
                     <h6>Dr. Luis Alberto Santos Garcia</h6>
                     <span>Urgencias</span>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                     <a href="team-member-detail.html">- Ver Perfil</a>
                 </div>
                 
             </div>
             
             
             
             
             <div class="cbp-item dental motion">
                 <div class="cbp-caption">
                     <div class="cbp-caption-defaultWrap">
                         <img src="{% static 'images/team-member1.jpg' %}" alt="">
                     </div>
                     <div class="cbp-caption-activeWrap">
                         <div class="cbp-l-caption-alignCenter">
                             <div class="cbp-l-caption-body">
                                 
                                 <div class="cbp-l-caption-text">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-new-message"></i></a>
                                 </div>
                                 
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <div class="detail">
                     <h6>Dr. Alondra Nicole Cruz Camacho</h6>
                     <span>Medico Dental</span>
                     <p>Lorem ipsum dolor sit, adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                     <a href="team-member-detail.html">- Ver Perfil</a>
                 </div>
                 
             </div>
             
             
             
             <div class="cbp-item health-care motion">
                 <div class="cbp-caption">
                     <div class="cbp-caption-defaultWrap">
                         <img src="{% static 'images/team-member1.jpg' %}" alt="">
                     </div>
                     <div class="cbp-caption-activeWrap">
                         <div class="cbp-l-caption-alignCenter">
                             <div class="cbp-l-caption-body">
                                 
                                 <div class="cbp-l-caption-text">
                                     <a href="#."><i class="icon-euro"></i></a>
                                     <a href="#."><i class="icon-yen"></i></a>
                                     <a href="#."><i class="icon-new-message"></i></a>
                                 </div>
                                 
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <div class="detail">
                     <h6>Dr. Meyver Karime Cortez Perez</h6>
                     <span>Nutricion</span>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                     <a href="team-member-detail.html">- Ver Perfil</a>
                 </div>
                 
             </div>
             
             
         </div>
 
     </div>
    <!--End Team Detail-->
    
    </div>
    </div>
    <!--End Content-->
    
     
{% endblock %}